/* CSS Document */
/*scroll-head*/
.scroll-head{
    height: 35px;
    width: 100%;
}
/******top-top*****/
.top-wrapper{
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #eee;
    background-color: #f5f5f5;
}
 .top-top{
	height: 32px;
	width: 960px;
	text-align: center;
	margin: 0 auto;
	padding-top: 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #FFFFFF;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
	color: #FFFFFF;
		}
		
  .top-right{
    position: relative;
    float: right;
    height: 100%;
    line-height: 10px;
}
 .sp{
			display: inline-block;
			color:#000000;
			font-size:16px;
			font-weight: bold;
			font-family: '微软雅黑';
			padding:0 50px;
			border-left: 2px solid #000;
		}
	.top-font {
	color: #000000;
}
 .apDiv1 {
	position: absolute;
	width: 296px;
	height: 111px;
	z-index: 1;
	left: 3px;
	top: 79px;
}
/***********top-main**********/
.top-main{
	margin: 10px auto;
	width: 1190px;
	height: 115px;
	color: #FFF;
}
.content_input .form1{
            width: 454px;
            height: 42px;
            background:rgba(0,0,0,.2);
            padding:5px;
            border:none;
            border-radius:1px;          
        }
.form1 >input{ 
 width: 342px; 
 height: 42px; 
 background-color: #FFF; 
 border:none; 
 border-top-left-radius:1px; 
 border-bottom-left-radius:1px; 
 font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma'; 
 }
.form1 > button{ /*display:inline-block;*/ 
 width:112px; 
 height: 42px; 
 background-color:#d93c3c; 
 color:#fff; 
 border:none; 
 border-top-right-radius:5px; 
 border-bottom-right-radius:5px; 
 position: relative; 
 font-size:16px; 
 font-weight: bold; }

.form1 >button:before{ 
 content:""; 
 border-width:6px; 
 border-style:solid; 
 border-color: transparent #d93c3c transparent transparent; 
 position: absolute; 
 right:100%; 
 top:38%; }
/*two-code*/
.two-code{
    float: right;
    position: relative;
    width: 94px;
    height: 112px;
    text-align: center;
    border: 1px solid #eee;
}
/*close-code*/
.close-code{
    position: absolute;
    top: -1px;
    left: -21px;
    width: 19px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #eee;
    font-size: 16px;
    color: #d8d8d8;
    cursor: pointer;
}
.close-code:hover{
    border-color: #f40;
    background: #f40;
    color: #fff;
}

/************************content-top********************/
.content-top{
    width: 1190px;
    height: 582px;
    margin: 0 auto;
    clear: both;
    /*border: 1px solid #ccc;*/
}
.sidebar{
    float: left;
    width: 150px;
    height: 100%;
    box-shadow: 2px 2px 2px #e1e1e1;
}
.sidebar > h3{
    width: 100%;
    height: 41px;
    line-height: 41px;
    text-align: center;
    font-size: 16px;
    background: #f40;
    color: #fff;
}
/*sidebar-info*/
.sidebar-info{
	position: relative;
	width: 148px;
	height: 500px;
	border: 1px solid #bbb;
	border-top: none;
}
.side-li{
    position: relative;
    z-index: 5000;
}

/*hiden-box*/
.hiden-box{
    position: fixed;
    z-index: 4888;
    width: 709px;
    height: 472px;
    padding: 10px;
    display: none;
    border: 1px solid #f40;
    overflow: hidden;
    background: #fff;
}
.hiden-box > li{
    width: 96%;
    margin: auto;
    height: 100%;
}
.right-box{
    margin: 0 40px 0 5px;
    padding: 1px 6px;
    border: 1px solid #eee;
    cursor: pointer;
}

/*hidden-title*/
.hidden-title{
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #eee;
}
/*sub-nav-right*/
.sub-nav-right{
    float: left;
    padding-right: 10px;
    width: 340px;
    height: 420px;
    border-right: 1px solid #eee;
}
.sub-nav-left{
    float: right;
    padding-left: 10px;
    width: 330px;
    height: 420px;
}
.cell-box{
    width: 100%;
    height: 116px;
    margin-top: 16px;
    border-bottom: 1px dashed #eee;
}
.cell-box > h1{
    margin-bottom: 10px;
}
/*a-box*/
.a-box{
	line-height: 20px;
	color: #CDCDCD;
}
.a-box span{
    margin-right: 6px;
}
.a-box > a{
    margin: 0 8px 0 0;
    white-space: nowrap;
    color: #3c3c3c;
}
.a-box > a:hover{
    color: #3366FF;
}
.side-li > li{
    width: 147px;
    margin: auto;
    height: 31px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #fff;
    border-right: none;
    cursor: pointer;
}
.sidebar-info h3{
	width: 93%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	border-bottom: 1px solid #dedede;
	color: #000;
	font-family: '宋体';
	font-size: 16px;
}
.side-li > li:hover{
   border: 1px solid #f40;
   border-right: 1px solid #fff;
}
.s_1{
    background: url(../img/001.png) no-repeat 16px center;
}
.s_2{
    background: url(../img/002.png) no-repeat 16px center;
}
.s_3{
    background: url(../img/003.png) no-repeat 10px center;
}
.s_4{
    background: url(../img/004.png) no-repeat 10px center;
}
.s_5{
    background: url(../img/005.png) no-repeat 10px center;
}
.s_6{
    background: url(../img/006.png) no-repeat 10px center;
}
.s_7{
    background: url(../img/007.png) no-repeat 10px center;
}
.s_8{
    background: url(../img/008.png) no-repeat 10px center;
}
.s_9{
    background: url(../img/009.png) no-repeat 10px center;
}
.s_10{
    background: url(../img/010.png) no-repeat 10px center;
}
.s_11{
    background: url(../img/011.png) no-repeat 10px center;
}
.s_12{
    background: url(../img/012.png) no-repeat 10px center;
}
.s_13{
    background: url(../img/013.png) no-repeat 10px center;
}
.s_14{
    background: url(../img/014.png) no-repeat 10px center;
}


/*right-con*/
.right-con{
    width: 1031px;
    height: 100%;
    float: right;
}
/*nav*/
.nav{
	position:absolute
	
	width: 100%;
	height: 41px;
	
	line-height: 38px;
	font-weight: bold;
	font-size: 16px;
	border-bottom: 2px solid #f40;
	font-family: verdana, Arial;
	color: #D6D6D6;
}

/*中间字体*/
.STYLE3 {color: #FFFFFF}
.apDiv {
	position: absolute;
	width: 1000px;
	height: 43px;
	z-index: 3;
	/*left: 238px;*/
	top: 169px;
	background: -o-linear-gradient(right, #FFA000,red);
	background: -moz-linear-gradient(right,#FFA000,red);
	background: linear-gradient(to right, #FFA000,red);
	text-align: center;
	
}
.apDiv6 {
	position: absolute;
	width: 170px;
	height: 43px;
	z-index: 3;
	left: 0px;
	top: 1px;
	text-align: center;
	color: #FFF;
	background-color: transparent;
	
	
}
.apDiv7 {
	position: absolute;
	width: 170px;
	height: 43px;
	z-index: 4;
	left: 170px;
	top: 0px;
	background-color: transparent;
	text-align: center;
	color: #FFF;
}
.apDiv8 {
	position: absolute;
	width: 174px;
	height: 43px;
	z-index: 4;
	left: 344px;
	top: 1px;
	background-color: transparent;
	text-align: center;
	color: #FFF;
}
.apDiv9 {
	position: absolute;
	width: 174px;
	height: 43px;
	z-index: 4;
	left: 518px;
	top: 1px;
	background-color:transparent;
	text-align: center;
	color: #FFF;
}
.apDiv10 {
	position: absolute;
	width: 185px;
	height: 43px;
	z-index: 4;
	left: 692px;
	top: 1px;
	background-color: transparent;
	text-align: center;
	color: #FFF;
}
.apDiv6 > a:hover{
    color: #000;
    background: none;
}
.apDiv7 > a:hover{
    color: #000;
    background: none;
}
.apDiv8 > a:hover{
    color: #000;
    background: none;
}
.apDiv9 > a:hover{
    color: #000;
    background: none;
}
.apDiv10 > a:hover{
    color: #000;
    background: none;
}

/*show-box*/
.show-box{
    float: left;
    margin-top: 10px;
    width: 720px;
    height: 500px;
}

/*******************************图片轮播**********************************/

/*content*/
.content,
.content-down,
.content-sub{
    position: relative;
    float: left;
    width: 520px;
    height: 280px;
    overflow: hidden;
}
.content-down{
    height: 248px;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
}
.content-sub{
    height: 222px;
    width: 220px;
}
.imgBox,
.imgBox1,
.imgBox2{
    position: absolute;
    clear: both;
    width: 2600px;
    list-style-type: none;
}
.imgBox2{
    width: 660px;
}
.imgBox > li,
.imgBox1 > li{
     float: left;
     width: 520px;
 }
.imgBox2 > li{
    float: left;
    width: 220px;
}
.imgBox a,
.imgBox1 a,
.imgBox2 a{
    display: inline-block;
}
.control,
.control1,
.control2{
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 20px;
    background: #000;
    opacity: .3;
    font-size: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 20px;
    display: none;
    cursor: pointer;
    color: #fff;
}
.control2{
    width: 20px;
    height: 20px;
    margin-top: -10px;
    left: 15px;
    font-size: 20px;
    line-height: 10px;
}
.control:hover,
.control1:hover,
.control2:hover{
    opacity: .8;
}
.to-right,
.to-right1{
    left: 450px;
}
.to-right2{
    left: 180px;
}


/*currentNum*/
.currentNum,
.currentNum-down,
.currentNum-sub{
    position: absolute;
    left: 50%;
    top: 250px;
    margin-left: -35px;
    width: 70px;
    height: 11px;
}
.currentNum-down{
    top: 200px;
}
.currentNum-sub{
    width: 40px;
    margin-left: -20px;
    top: 180px;
}
/*spanNum*/
.imgNum,
.imgNum1,
.imgNum2{
    display: inline-block;
    float: left;
    width: 9px;
    height: 9px;
    margin-right: 4px;
    border-radius: 9px;
    background: #b7b7b7;
    cursor: pointer;
}

.mark-color{
    background: #f40;
}


/*right-sidebar*/
.right-sidebar{
    position: relative;
    margin-top: 10px;
    float: right;
    width: 300px;
    height: 531px;
    overflow: hidden;
}
/*info-box*/
.info-box{
    width: 298px;
    height: 140px;
    border: 1px solid #eee;
}
/***********************tabs***********************/
/*tab-nav*/
.tab-nav{
	
    margin-left: -1px;
    width: 100%;
    height: 27px;
    list-style-type: none;
    text-align: center;
    border-bottom: 1px solid #eee;
    background: #f7f7f7;
}

.li-nav{
    width: 57px;
    height: 26px;
    float: left;
    line-height: 26px;
    font-size: 15px;
    color: #3c3c3c;
    border: 1px solid #f7f7f7;
    border-bottom: none;
    cursor: pointer;
}
.li-nav:last-child{
    width: 61px;
}
.li-nav:hover{
    border-bottom: 1px solid #fff;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    font-weight: bold;
    background: black;
    color: #FFF;
}
.li-border{
    border-left: 1px solid #eee;
}
.li-nav-hover{
    border-bottom: 1px solid #fff;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    font-weight: bold;
    background: #fff;
    color: #000;
}
.li-hover{
    border: 1px solid #ff5640;
    border-bottom: 1px solid #fff;
    background: #fff;
    color: #ff5640;
}
.hiddenBox{
    width: 264px;
    height: 34px;
    display: none;
    border-top: 0;
    padding: 8px 18px;
}
.hiddenBox a{
    line-height: 28px;
    margin-right: 5px;
}

/*main*/
.main{
    width: 1190px;
    margin: auto;
    height: 4088px;
}

/*main-left*/
.main-left{
    width: 790px;
    float: left;
    height: 4085px;
    border: 1px solid #eee;
    border-top: 2px solid #ddd;
    border-right: none;
}

/*main-title*/
.main-title{
    width: 789px;
    height: 50px;
    margin-left: -1px;
    line-height: 50px;
    border: 1px solid #eee;
    border-top: none;
}
.show-title{
    font-size: 12px;
    margin-right: 20px;
    font-weight: lighter;
    float: right;
}
.main-title h1{
    margin-left: 20px;
    font-size: 16px;
    text-shadow: 2px 2px 2px #c4c4c4;
}
/*product-box*/
.product-box{
    position: relative;
    float:left;
    margin-top: -1px;
    margin-left: -1px;
    width: 394px;
    height: 268px;
    border: 1px solid #eee;
}
.product-box:hover{
    border-color: #f40;
}
/*inner-info*/
.inner-info{
    width: 349px;
    height: 220px;
    margin: 25px auto;
}
.line-f40{
    margin-right: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #f40;
}
.share-weitao{
    float: right;
    display: none;
}
.text-title{
    font-size: 13px;
    font-weight: bold;
}
.inner-left{
    float: left;
    margin-top: 13px;
    width: 168px;
    height: 190px;
    text-align: center;
    background: #f6f6f6;
}
.inner-left > h1{
    margin: 14px 0 10px 0;
}
.inner-left a{
    color: #000;
}
.inner-left a:hover{
    color: #f40;
}
.inner-left span{
    color: #9c9c9c;
}
/*inner-right*/
.inner-right{
    float: right;
    margin-top: 13px;
    width: 168px;
    height: 190px;
    text-align: center;
}
.inner-right a{
    display: inline-block;
}
.inner-right img{
    margin-bottom: 10px;
}
/*tab-inner*/
.tab-inner{
    margin-top: 20px;
    width: 100%;
    height: 78px;
    border-collapse: collapse;
}
.tab-inner td{
    width: 82px;
    height: 38px;
    line-height: 38px;
    border: 1px dashed #eee;
}
.tab-inner a{
   display: inline-block;
    width: 100%;
    height: 100%;
}
/*****************************main-right*********************/
.main-right{
    float: right;
    width: 378px;
    /*overflow: hidden;*/
}
.time-go{
    position: relative;
    width: 100%;
    height: 1164px;
    border-top: 2px solid #ddd;
    border-left: 2px solid #ddd;
    background: #f4f4f4;
}
/*time-cell*/
.time-cell{
    width: 336px;
    height: 206px;
    margin: 16px auto;
}
.text_shadow{
    text-shadow: 1px 1px 2px #b2b2b2;
}
.time-cell  a{
    font-size: 16px;
}
/*now-news*/
.now-news{
    float: right;
    font-weight: lighter;
}
.now-news > span{
    margin-left: 6px;
    color: #f40;
}
/*inner-show*/
.inner-show{
    margin-top: 19px;
    width: 100%;
    height: 167px;
    border: 1px solid #eee;
    background: #fff;
}
.inner-show > a{
   display: inline-block;
   margin: 9px 4px;
}
.inner-show > a:first-child{
    margin-left: 8px;
}
.inner-show p{
    margin-top: 10px;
    font-size: 9px;
    color: #a3a3a3;
}
.inner-show p:hover{
   color: #f40;
}
.inner-show h3{
    margin-top: 3px;
    font-weight: lighter;
    font-size: 12px;
    text-align: center;
    color: #6c6c6c;
}
.inner-show h3:hover{
    color: #f40;
}
.inner-show h3>a{
    margin-right: 6px;
    font-size: 12px;
}
/*goto-see*/
.goto-see{
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    font-size: 16px;
    border-top: 1px solid #ddd;
}
.goto-see > a{
    float: right;
    font-size: 11px;
}
/*dynamic*/
.dynamic{
    position: relative;
    width: 324px;
    height: 180px;
    margin: 0 auto 20px auto;
    padding-top: 16px;
    padding-left:  12px;
    border: 1px solid #eee;
    background: #fff;
}
.dynamic > h3{
    margin-bottom: 11px;
    font-size: 13px;
    padding-right: 5px;
}
.dynamic > h4{
    text-align: center;
    letter-spacing: 1px;
}
.dynamic span{
    margin-left: 12px;
    font-size: 12px;
    font-weight: lighter;
    color: #a3a3a3;
}
.dynamic p{
    margin-bottom: 13px;
    line-height: 15px;
}
.dynamic h6{
    margin-top: 14px;
}
.dynamic a{
    font-weight: lighter;
    color: #9c9c9c;
}
/*follow*/
.follow{
    display: none;
    float: right;
}
/*arrow*/
.arrow{
    position: absolute;
    top: 10px;
    left: -16px;
    width: 0;
    height: 0;
    border: 8px solid #fff;
    border-color: transparent #fff transparent transparent;
}
/*circle-big*/
.circle-new,
.circle-go{
    position: absolute;
    z-index: 3000;
    top: 10px;
    left: -14px;
    width: 25px;
    text-align: center;
    line-height: 25px;
    height: 25px;
    border-radius: 25px;
    background: #f40;
    color: #fff;
}
.circle-go{
    top: 453px;
}
/*time-circle*/
.time-circle{
    position: absolute;
    top: 744px;
    left: -6px;
    width: 8px;
    height: 8px;
    border: 1px solid #fff;
    border-radius: 10px;
    background: #ccc;
    cursor: pointer;
}
.bottom-circle{
    top: 962px;
}
.time-circle:hover{
    background: #f40;
}
